html, body {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: $text-font-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  color: $black;
}

//h1 {
//  font-size: 2rem;
//
//  @include media-breakpoint-up(lg) {
//    font-size: 4rem;
//  }
//}